body {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidenav {
    flex-direction: column;
    min-width: 130px;
    max-width: 12vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#stuff {
}

.scroll-area {
    background-color: #cccccc;
    position: absolute;
    right: 0 !important;
    width: 16px;
    height: 100%;
}

.scroll-thumb {
    background-color: #555555;
    position: absolute;
    right: 2px !important;
    height: 16px;
    width: 12px;
}

.attribute-collection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.attribute-header {
    font-weight: 600;
    padding: 2px;
}

.attribute-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background: none;
    border: none;
}

.attribute-item:hover,
.message-line:hover {
    background-color: #dddddd;
}

.selected {
    font-weight: 600;
}

.message-line {
    font-family: "San Francisco", monospace;
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.1rem;
    width: 86vw;
}

.message-detail-container {
    display: flex;
    flex-direction: column;
}

.message-detail-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82vw;
    min-height: 21px;
}

.detail-gap {
  padding-left: 37px;
}

.detail-message {
  padding-top: 8px;
}

.message-details {
    margin-left: 5px;
    text-wrap: wrap;
}

.severity-info {
    display: inline-block;
    width: 8ch;
}

.severity-debug {
    display: inline-block;
    width: 8ch;
    color: #336699;
}

.severity-warning {
    display: inline-block;
    width: 8ch;
    color: #999933;
}

.severity-error {
    display: inline-block;
    width: 8ch;
    color: #993333;
}

.toggle {
    padding: 0 2px 0 0;
    margin: 0 4px 0 0;
    font-family: "SF Mono", monospace;
    user-select: none;
}

.pin {
  font-size: '12px';
  background: none;
  border: none;
}
.pin:hover {
  background: #eee;
}

.hide {
    display: none;
}

#searchinput {
  width: 500px;
}
