.main {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 100vh;
}

.sidenav {
  flex-direction: column;
  max-width: 12vw;
}

.content {
  flex-direction: column;
}

.attribute-header {
  font-weight: 600;
  padding: 2px;
}
.attribute-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attribute-item:hover, .message-line:hover {
  background-color: #dddddd;
}

.selected {
  font-weight: 600;
}

.message-line {
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 86vw;
}

.message-details {
  margin-left: 8px;
}

.toggle {
  padding: 0;
  margin: 0 4px 0 0;
  font-family: monospace;
  user-select: none;
}

.toggle-hide {
  display: none;
}
